<%= render 'shared/nav' %>
<p id="notice"><%= notice %></p>

<h1>Bet Ideas</h1>

<table>
  <thead>
    <tr>
      <th>Idea</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bet_ideas.each do |bet_idea| %>
      <tr>
        <td><%= bet_idea.idea %></td>
        <td><%= link_to 'Show', bet_idea %></td>
        <td><%= link_to 'Edit', edit_bet_idea_path(bet_idea) %></td>
        <td><%= link_to 'Destroy', bet_idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bet Idea', new_bet_idea_path %>
